[Unit]
Description=rclone mount OneDrive
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount onedrive: %h/OneDrive --vfs-cache-mode full --dir-cache-time 30s
ExecStop=/bin/fusermount -u %h/OneDrive
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
