[Unit]
Description=rclone mount Cooper SFTP
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount cooper: %h/Cooper --vfs-cache-mode full --dir-cache-time 30s
ExecStop=/bin/fusermount -u %h/Cooper
Restart=on-failure

[Install]
WantedBy=default.target
