[Unit]
Description=Spotify Player Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/home/jaeho/.cargo/bin/spotify_player -d
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
