[Desktop Entry]
Name=Wiremix
GenericName=Audio Mixer
Comment=Configure audio device settings
Exec=wiremix
Terminal=true
Type=Application
Icon=audio-card
Keywords=pipewire;sound;audio
Categories=Utility;Settings;ConsoleOnly
StartupNotify=false
